<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>droptin</title>
      
      <!-- Include Bootsrap / Inclui Bootstrap -->
      <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
      
      <!-- Include CUstom CSS / Inclui CSS personalizado -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
   </head>
   <header>
      <div class="header">
         <h1>droptin</h1>
      </div>
      
      <!-- Navigation buttons / Botões de navegação -->
      <div class="navbar">
         <a href="{{ url_for('index') }}" class="btn btn-primary mb-2" role="button">View observations</a>
         <a href="{{ url_for('new_observation_route') }}" class="btn btn-primary mb-2" role="button">New observation</a>
      </div>
   </header>
   <body>
      <!-- Content block for dynamic content / bloco de conteúdo para conteúdo dinâmico -->
      {% block content %} {% endblock %}
   </body>
</html>